html {
  background-color: #fffaea;
}

body {
  font-size: 100%;
}

h1 {
  text-align: center;
  color: teal;
}

h2, h3 {
  font-size: 1.5em;
  color: teal;
}

ul {
  list-style-type: none;
  display: inline-block;
}

@media all and (max-width: 600px) {
  ul {
    margin: 0px;
    padding: 0px;
  }
}

ul li {
  padding: 5px;
}

ul a {
  text-decoration: none;
  color: teal;
}

ul a:visited {
  color: grey;
}

ul a:hover {
  color: skyblue;
}

.container {
  max-width: 50%;
  float: right;
  display: inline-block;
}

#logo {
  width: 100%;
  height: auto;
}
